<div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you want to know more about Me.</h3>
    <p class="contact-message">Want to contact Me ? Let's talk </p>
    <a class="btn" href="mailto:ekyeremeh7@gmail.com">CONTACT ME</a>
</div>
</div>


<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/emmanuel-kyeremeh-3bb60a170/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/ekyeremeh7">Twitter</a>
    <a class="footer-link" href="https://www.facebook.com/">Facebook</a>
    <p class="copyright">© 2020 Profile | Emmanuel Kwabena Kyeremeh </p>
</div>
</body>

</html>