<%- include("partials/header");-%>
    <div class="middle-container">
        <div class="profile">
            <img class="profile-image" src="images/immanuel.jpg" alt="emmanuel-profile-img" height="190px" width="200px">
            <h2>Hello.</h2>
            <p class="intro">I'm a student offering B.S.C Computer Science seeking an entry into a competitive and dynamic working environment aiming to leverage acquired academic and practical knowledge to effectively achieve company goals and take on more responsibilities
                as quickly as possible.</p>
        </div>
        <!-- ❤️  -->
        <hr>
        <!-- EDUCATION SECTION -->
        <div class="skills">
            <h2>Education</h2>
            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>2011 - 2013 </h3>
                <p><strong> CRESCENT PREPARATORY SCHOOL <br> Breman U.G.C - Kumasi <br> GHANA. <br>Certificate: B.E.C.E</strong></p>
            </div>
            <div class="skill-row">
                <!-- <img class="chilli-img" src="images/chillies.png" alt="chillies-img"> -->

                <h3>2013/14 - 2016</h3>
                <p><strong> KNUST SNR HIGH SCHOOL <br> Boadi-Junction,Kumasi <br> GHANA. <br>Certificate: W.A.S.S.C.E General Science </strong></p>

            </div>
            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->

                <h3>2017 - </h3>
                <p><strong> KWAME NKRUMAH UNIVERSITY OF SCIENCE AND TECHNOLOGY <br> KUMASI,GHANA. <br>Certificate: BSc. Computer Science </strong></p>

            </div>
        </div>

        <hr>
        <!-- EXPERIENCE AND PROJECTS SECTION -->
        <div class="skills">
            <h2>Experience and Projects</h2>
            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Blog Website</h3>
                <p>A personal website where I share motivational messages and views to friends to loved ones.Users can also post their opinions on the site.
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/blogPost.git">https://github.com/ekyeremeh7/blogPost.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Web Based App with Flask</h3>
                <p>A web based app that was developed using Flask Framework
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/flaskproject.git">https://github.com/ekyeremeh7/flaskproject.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Bus Booking Reservation System</h3>
                <p>A website with Node.Js and Mongodb as backend .The Website is an online bus reservation system.Users of the website can book tickets to their various destination at the comfort of their homes without stress and energy
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/busbookingWithNodejs.git">https://github.com/ekyeremeh7/busbookingWithNodejs.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>A todo List Web App</h3>
                <p>A fun project I did when I started studying Backend Programming.It is just a simple web app for internet users. Open a new tab for the website and use it while you are browsing online.List the things you plan on doing online whether movies
                    to have to download,softwares to download,anything that is worth remembering so you would be able to fully use the internet for the reason you sat down to without forgetting anything
                    <br>
                    <a class="links" href="https://gentle-sea-96914.herokuapp.com">https://gentle-sea-96914.herokuapp.com</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>My Newsletter App</h3>
                <p>A web based application developed with MailChimp api to send newsletter to sign up users on my platform.

                    <br>
                    <a class="links" href="https://rocky-thicket-98728.herokuapp.com">https://rocky-thicket-98728.herokuapp.com</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Machine Learning Disease Prediction System</h3>
                <p>A team work with 4 friends for a Hacklab 2019 Event.A web based application developed with the python web framework Flask and lased with the powerful machine learning tool Tensorflow for the predication of Disease
                    <br>
                    <a class="links" href="https://github.com/janim2/Disease-Prediction-System.git">https://github.com/janim2/Disease-Prediction-System.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Bus Tracker Android Based System</h3>
                <p>A team work with 4 friends for a Hacklab 2019 Event. An android based system to aid in the accurate and timely tracking of kids in a school bus to and from school and home.
                    <br>
                    <a class="links" href="https://tinyurl.com/y56mrjh5
                    ">https://tinyurl.com/y56mrjh5
                    </a>
                    <br>
                    <a class="links" href="https://github.com/janim2/BusTracker.git"> https://github.com/janim2/BusTracker.git</a>
                </p>

            </div>
            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Bus Tracker Driver Based System</h3>
                <p>A team work with 4 friends for a Hacklab 2019 Event.An android based system that is part of the Bus Tracker system specifically built for drivers to interact with the system
                    <br>
                    <a class="links" href="https://github.com/janim2/BusTracker_Driver.git">https://github.com/janim2/BusTracker_Driver.git</a>
                    <br>
                    <a class="links" href="https://tinyurl.com/y679kxm5">https://tinyurl.com/y679kxm5</a>
                </p>

            </div>
            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Bus Tracker Admin Based System</h3>
                <p>A team work with 4 friends for a Hacklab 2019 Event. Android application to help school administrators coordinate all processes concerning the bus tracker system.
                    <br>
                    <a class="links" href="https://github.com/janim2/BusTrackerAdmin.git">https://github.com/janim2/BusTrackerAdmin.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Food Ordering Web Based App</h3>
                <p>A web based app developed using PHP and MYSQL as backend.The website is basically for selecting from menus and buying your preferred option.
                    <br>
                    <a class="links" href="https://github.com/janim2/ninja_pizza.git">https://github.com/janim2/ninja_pizza.git</a>
                </p>

            </div>

            <div class="skill-row">
                <!-- <img class="code-img" src="images/design1.png" alt="code-img"> -->
                <h3>Flutter Projects</h3>

                <h3>(a) Mi Card App</h3>
                <p>A simple flutter app showing my details/info.
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/mi_card.git">https://github.com/ekyeremeh7/mi_card.git</a>
                </p>

                <h3>(b) Dice Game App</h3>
                <p>One of my fun flutter projects.This one is just a simple rolling dice game.
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/dice_game.git">https://github.com/ekyeremeh7/dice_game.git</a>
                </p>
                <h3>(c) Xylophone App</h3>
                <p>A xylophone instrument app i built personally during my spare time.
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/Xylophone.git">https://github.com/ekyeremeh7/Xylophone.git</a>
                </p>
                <h3>(d) Quizzler App</h3>
                <p>A quiz app i built using flutter.It asks user a couple questions and provides feedback to users based on inputs.
                    <br>
                    <a class="links" href="https://github.com/ekyeremeh7/quizzler.git">https://github.com/ekyeremeh7/quizzler.git</a>
                </p>
                <h3>(e) Magic8 App</h3>
                <p>Another cool flutter project i built.It’s a simple decision making app. <br>
                    <a class="links" href="https://github.com/ekyeremeh7/magic-8.git">https://github.com/ekyeremeh7/magic-8.git</a>
                </p>
            </div>



        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="code-img" src="images/languages.jpg" alt="code-img" height="100px" width="100px">

                <h3>Computer Languages & Databases</h3>
                <p>C++, C, Javascript , Dart, Python, Java(android), Dart(Flutter), HTML, CSS, PHP, MySQL, Mongodb</p>

            </div>
            <div class="skill-row">
                <img class="chilli-img" src="images/certifications.jpg" alt="chillies-img">

                <h3>Certifications</h3>
                <p>
                    • Career and Investment Training. <br>• LEC GROUP Databank Leadership Certificate. <br> • Hacklab 2018 & 2019 Certificate of Participation. <br> • CareerBluePrint Certification.</p>

            </div>
            <div class="skill-row">
                <img class="code-img" src="images/certcorrect.png" alt="code-img">

                <h3>Other Specialities</h3>
                <p>
                    • Proficient in Microsoft Office including Excel and Power point. <br> • Working Knowledge in Networking and Internet Security <br> • Working Knowledge also in Word press. <br> • Discussion And Presentation Of Software. <br> • Well
                    acquainted with both Windows O.S and Linux Distros.
            </div>



        </div>




        <%- include("partials/footer");-%>